.event-list .ui.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.event-list .ui.container .back-button {
	margin-top: 28px;
}

.event-list .ui.container .back-button:hover {
	background-color: var(--button-hover-color);
	color: var(--black-color);
}
