.ui.dropdown {
	width: fit-content;
}

div.ui.dropdown .menu > .item {
	padding: 0 !important;
}

.ui.dropdown .menu [class='divider text'] {
	margin: 1rem !important;
}

.ui.dropdown .menu > .item .dropdown.icon {
	margin: 1rem !important;
}

.ui.dropdown .menu > .item > span {
	display: inline-block;
	margin: 0.8rem 1rem !important;
}
