:root {
	--primary-color: #006277;
	--primary-light-color: #00a0c4;
	--success-color: #06d6a0;
	--success-dark-color: #00976f;
	--success-alternative-color: #22c55e;
	--warning-color: #ffd166;
	--warning-dark-color: #ffb300;
	--error-color: #f87171;
	--error-dark-color: #ff1414;
	--info-color: #58b3f3;
	--info-dark-color: #127ac4;
	--bg-first-color: #fafafa;
	--bg-third-color: #fff;
	--border-color: #e4e4e7;
	--text-table-color: #52525b;
	--text-header-color: #a1a1aa;
	--form-header-color: #f9fafb;
	--text-subheader-color: #71717a;
	--text-second-header-color: #707070;
	--bg-primary-color: #e9f2fa;
	--rating-color: #33a5f8;
	--button-primary-color: #e0e1e2;
	--button-hover-color: #cacbcd;
	--black-color: #000;
	--text-gray-light: #808080;
	--file-card-background: #f4f4f5;
	--icon-primary-color: #767676;
	--actived-light-color: #4ade80;
	--actived-dark-color: #22c55e;
	--completed-light-color: #4a5dde;
	--completed-dark-color: #2222c5;
	--inactive-light-color: #c7c7c7;
	--inactive-dark-color: #abacab;
	--onhold-light-color: #fde047;
	--onhold-dark-color: #eab308;
	--actual-stage-color-bg: rgb(145, 251, 223, 0.66);
	--text-actual-stage-color: #00a0c4;
}
