:root {
	--actived-light-color: #4ade80;
	--actived-dark-color: #22c55e;
	--completed-light-color: #4a5dde;
	--completed-dark-color: #2222c5;
	--inactive-light-color: #c7c7c7;
	--inactive-dark-color: #abacab;
	--onhold-light-color: #fde047;
	--onhold-dark-color: #eab308;
}

.scholar-row .status {
	display: flex;
	align-items: center;
}

.scholar-row .status > div {
	height: 17px;
	width: 17px;
	border-width: 5px;
	border-style: solid;
	border-radius: 50%;
	margin-right: 10px;
}

.scholar-row .status.actived {
	color: var(--actived-dark-color);
}
.scholar-row .status.completed {
	color: var(--completed-dark-color);
}
.scholar-row .status.inactive {
	color: var(--inactive-dark-color);
}
.scholar-row .status.onhold {
	color: var(--onhold-dark-color);
}

.scholar-row .status .actived {
	background-color: var(--actived-light-color);
	border-color: var(--actived-dark-color);
}

.scholar-row .status .completed {
	background-color: var(--completed-light-color);
	border-color: var(--completed-dark-color);
}

.scholar-row .status .inactive {
	background-color: var(--inactive-light-color);
	border-color: var(--inactive-dark-color);
}

.scholar-row .status .onhold {
	background-color: var(--onhold-light-color);
	border-color: var(--onhold-dark-color);
}
